<!DOCTYPE html>
<html>

<head>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link rel="stylesheet" href="styles/profilesidebar.css">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>
    <div class="container mr-10 ml-0 mb-4">
        <div class="row profile"
            style="height:1080px; width: 300px; background-color: #b4afaf; justify-content: center;">
            <div class="col-lg-3">
                <div class="profile-sidebar">

                    <div class="profile-userpic d-flex align-items-center justify-content-center">
                        <img src=" flipr assets/user-circle-solid.svg" height="100px" width="100px"
                            class="rounded float-start" alt="">
                    </div>
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">


                            <img src="flipr assets/icons8-audio-wave-100.png" height="50px" width="50px">
                            <p class="text-white text-center  font-weight-bold">Bohemian Rhapson</p>


                        </div>

                        <div class="profile-usertitle-wishlist">


                            <img src="flipr assets/heart.png" height="50px" width="50px">
                            <p class="text-white text-center  font-weight-bold">Wishlist</p>

                        </div>

                        <div class="profile-usertitle-wishlist">


                            <img src="flipr assets/icons8-music-library-100.png" height="50px" width="50px">
                            <p class="text-white text-center font-weight-bold ">Your Library</p>

                        </div>

                    </div>
                </div>

            </div>
        </div>
        <br>
        <br>

        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</body>

</html>